/*File not found: D:\Work\Gyeser\Google Drive\Gyeser\webapp\css\email.css
This file is an empty place holder.*/
BODY
{
	background: #F5F5F5 url(../img/bg.png);
	font: 1em arial, helvetica, sans-serif;
	color: #444;
}
#main
{
	margin: 30px auto;
	width: 400px;
	background: #FFF;
	padding: 20px;
}
#main .topBar
{
}
