<!DOCTYPE html>
<html>
  <head>
  	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Order Items</h1>
	    <% @items_purchased.each do |item| %>
			<%= item.menu_item.name %> <span style="margin-left:40px;font-weight:bold;">Quantity:<%= item.quantity %></span><br/>
    	<% end %>
  </body>
</html>


