<!DOCTYPE html>
<html>
  <head>
  	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Order Items</h1>
    <ul>
	    <% @items_purchased.each do |item| %>
			<li><%= item.menu_item.name %> <span style="margin-left:40px;font-weight:bold;">Quantity:<%= item.quantity %></span></li>    	
    	<% end %>
    </ul>
  </body>
</html>


