<div role="main" id="main">
    
  <%=  form_tag restaurants_path, :class =>"form-wrapper cf", :method => :get do%>
	<!--<form class="form-wrapper cf"> -->
  <%= text_field_tag :search, params[:search], :placeholder => "Enter a street name..."%>
	<!--  <input type="text" placeholder="Enter a street name..." id="query" required> -->
	  <button type="submit">Search</button>
	<!--</form>   -->
  <%end%>
  <div class="explanation">
    <div class="column">
      <h2><img src="/assets/questionIcon.png">What is Urad Store</h2>
      <p>
        Urad store is a place to order food online. Once you order we deliver it to your doorstep. No matter where you order from.
      </p>
    </div>
      
  	<div class="column">
    	<h2><img src="/assets/infoIcon.png">How does it work</h2>
      <p>
        Enter your pin code or your street name and we will find all the restaurants that deliver to you. You can then select a restauant and see their menu and order.
      </p>
    </div>

  </div>

</div>