<div class="foodMenu">
	<h1>Delivery details</h1>

	<%= render 'form' %>

</div>

<div class="cart">
	<h2>Items you are buying</h2>
	<ul id="itemsInCart">
		<% @cart.line_items.each do |line_item| %>
			<li><%= line_item.menu_item.name%></li>  		
		<% end %>
	</ul>
	<h4 class="reciptTotal">Total: <span id="reciptTotalValue"><%= @cart.total %></span></h4>
	
	

</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		$.document.jQuery(document).ready(function() {
			test = "Hello"
			// Stuff to do as soon as the DOM is ready. Use $() w/o colliding with other libs;
			$("#order_cart_id").val("test");
		});
		
	</script>
<% end %>

