#login
{
	margin: 100px auto;
	width: 400px;
	padding: 10px;
	background: #fff;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.28);
}

#login h2
{
	color: #666;
	margin-bottom: 20px;
}

#login label
{
	color: #999;
	font-weight: bold;
}

#login input#user_email
{
	padding: 10px;
	width: 380px;
	border: 1px solid #ddd;
	margin-top: 5px;
	margin-bottom: 15px;
}

#login input#user_password
{
	padding: 10px;
	width: 380px;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 15px;
}

#login input#user_password_confirmation
{
	padding: 10px;
	width: 380px;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 15px;
}

#login input[type=submit]
{
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
}

.error
{
	background: #ffe1dd;
	border: 1px solid #ff1e00;
}

#form_error
{
	color: #ff1e00;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}